<h2>Dados do corredor</h2>
<div><span>Cpf: </span>{{corredor.cpf}}</div>
<div><span>Nome: </span>{{corredor.nome}}</div>
<div><span>Data de nascimento: </span>{{corredor.diaDn}}/{{corredor.mesDn}}/{{corredor.anoDn}}</div>
<div><span>Gênenro:</span>{{corredor.genero}}</div>
<p></p>
<button (click)="load()">Carregar dados Corredor</button>
<button (click)="save()">Salvar dados Corredor</button>
<p></p>
<h2>Eventos</h2>
<ul>
  <li *ngFor="let evento of corredor.eventos">
    <span class="badge">{{evento.id}}</span> {{evento.nome}}
  </li>
</ul>
<app-evento (novoEvento)="load()"></app-evento>

<!--
<div *ngIf="msgService.messages.length">
  <h2>Messages</h2>
  <button class="clear"
          (click)="msgService.clear()">clear</button>
  <div *ngFor='let message of msgService.messages'> {{message}} </div>

</div>
-->
