<h2>Novo Evento</h2>
<div><label>Nome:
    <input [(ngModel)]="evento.nome" placeholder="nome" />
  </label>
</div>
<div>Data:<label><input [(ngModel)]="evento.dia" placeholder="dia" /></label>/
  <label><input [(ngModel)]="evento.mes" placeholder="mes" /></label>/
  <label><input [(ngModel)]="evento.ano" placeholder="ano" /></label>
</div>
<div>Distância:  <label><input [(ngModel)]="evento.distancia" placeholder="distancia" /></label></div>
<div>Tempo:<label><input class="campoTempo" [(ngModel)]="evento.horas" placeholder="horas" /></label>:
  <label><input [(ngModel)]="evento.minutos" placeholder="minutos" /></label>:
  <label><input [(ngModel)]="evento.segundos" placeholder="segundos" /></label>
</div><p></p>
<button (click)="save()">Salvar Evento</button>
